.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  padding: 30px;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);

  /* // grid-row-gap:30px;
  // grid-column-gap:30px; */

  grid-gap: 40px;

  &__item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;

    &--1 {
      background-color: darkorange;
    }

    &--2 {
      background-color: yellowgreen;
    }

    &--3 {
      background-color: blueviolet;
    }

    &--4 {
      background-color: palevioletred;
    }

    &--5 {
      background-color: cornflowerblue;
    }

    &--6 {
      background-color: goldenrod;
    }
  }
}

.layout {
  background-color: #eee;
  width: 1000px;
  margin: 0 auto;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr[col-end]) 200px [grid-end];
  grid-template-rows: [header-start]1fr[header-end box-start] 2fr [box-end main-start] 4fr[main-end footer-start] 1fr[footer-end];
  grid-gap: 40px;

  & > * {
    background-color: skyblue;
    font-size: 24px;
    padding: 30px;
  }
  &__header {
    grid-column: 1/-1;
  }

  &__side-bar {
    grid-column: 4/-1;
    // grid-row: 2 / span 2;
    grid-row: box-start/main-end;
  }

  &__main {
    grid-column: 1/4;
  }

  &__footer {
    // grid-column: 1/-1;
    grid-column: col-start/grid-end;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  grid-auto-rows: 75px;
  grid-auto-flow: row;

  // grid-auto-columns: 1fr;
  // grid-auto-flow: column;

  // align-items: center;
  // justify-items: center;

  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  background-color: #eee;

  & > * {
    background-color: darkorange;
    padding: 30px;
    font-size: 24px;
  }

  &__item--1 {
    background-color: burlywood;
    align-self: flex-start;
    justify-self: center;
  }

  &__item--3 {
    background-color: yellowgreen;
    grid-row: 2 / span 3;
  }

  &__item--8 {
    align-self: center;
    justify-self: center;
  }
}

.conteneur {
  display: grid;
  // grid-template-rows: repeat(2, 150px);
  // grid-template-columns: max-content 1fr 1fr min-content;

  // grid-template-rows: repeat(2, min-content);
  // grid-template-rows: min-content min-content;

  grid-template-rows: repeat(2, minmax(90px, min-content));
  grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);

  // width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  background-color: #eee;

  & > * {
    padding: 30px;
    font-size: 24px;
  }

  &__item--1 {
    background-color: orangered;
  }

  &__item--2 {
    background-color: yellowgreen;
  }

  &__item--3 {
    background-color: blueviolet;
  }

  &__item--4 {
    background-color: palevioletred;
  }

  &__item--5 {
    background-color: royalblue;
  }

  &__item--6 {
    background-color: goldenrod;
  }

  &__item--7 {
    background-color: crimson;
  }

  &__item--8 {
    background-color: darkslategray;
  }
}
